@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
}

.cursor-pointer-table {
  cursor: pointer !important;
}